<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DreamExposure - Envision a new reality">
		<meta property="og:title" content="DreamExposure"/>
		<meta property="og:url" content="https://www.dreamexposure.org"/>
		<meta property="og:description" content="DreamExposure - Envision a new reality"/>
		<!--meta property="og:image" content="I WILL PUT THE LOGO IN WHEN I MAKE IT SMALL"/-->
		<title>Account && DreamExposure</title>

		<!--Locally Hosted Files-->
		<link rel="stylesheet" href="/styles/global.css">
		<link rel="stylesheet" href="/styles/fix.css">
		<script src="/scripts/snackbar.js"></script>
		<script src="/scripts/account/register.js"></script>

		<!--Externally hosted-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
		<div class="top-nav">
			<a href="/" class="title"><h1>DreamExposure</h1></a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
			<div class="dropdown">
				<button class="dropbtn">Plugins</button>
				<div class="dropdown-content">
					<a href="/plugins/perworldchatplus">PerWorldChatPlus</a>
					<a href="/plugins/insane-warps">InsaneWarps</a>
					<a href="/plugins/novalib">NovaLib</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Discord Bots</button>
				<div class="dropdown-content">
					<a href="https://www.discalbot.com" target="_blank">DisCal</a>
					<a href="https://ticketbird.novamaday.com" target="_blank">TicketBird</a>
				</div>
			</div>
			<a href="https://wiki.novamaday.com">Wiki</a>
			<a href="https://jenkins.novamaday.com" target="_blank">Jenkins</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<div class="dropdown" id="account-drop">
				<button class="dropbtn">Account</button>
				<div class="dropdown-content">
					<a class="active" th:if="${loggedIn}" href="/account">Account</a>
					<a th:if="${loggedIn}" href="/account/logout">Log out</a>
					<a th:unless="${loggedIn}" href="/account/register">Register</a>
					<a th:unless="${loggedIn}" href="/account/login">Log In</a>
				</div>
			</div>
		</div>
		<div id="content">
			<div th:if="${loggedIn}">
				<h1>My Account</h1>
				<p>
					More will be here, I just built this.
				</p>
			</div>
			<div th:unless="${loggedIn}">
				<h1>Please login to continue</h1>
			</div>
		</div>

		<div id="snackbar"></div>
	</body>

	<footer id="footer">
		<p><span th:text="'© DreamExposure ' + ${year} + '. All rights reserved.'"></span><span> | </span><a
				href="/policy/privacy">Privacy Policy</a><span> | </span><span><a
				href="/policy/tos">Terms of Service</a></span></p>
	</footer>
</html>