/* Form stuffs */
div.form-wrapper {
    margin: 10px;
    border-radius: 20px;
    max-width: 350px;
    padding: 20px;

    background: #961a87;
}

textarea {
    resize: none;
    width: 80%;
}

select {
    border: 1px solid black;
    border-radius: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 200px;
}

input {
    width: 80%;
}

input.submit {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #b00a95;
}

input.submit:hover {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #b00a95;
    background: gray;
    color: white;
}

input.reset {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid black;
    background: #b00a95;
    color: black;
}

input.reset:hover {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid white;
    background: white;
    color: black;
}

label {
    color: white;
    font-size: 20px;
}

textarea.small {
    height: 15px;
}

textarea.medium {
    height: 50px;
}

textarea.large {
    height: 150px;
}

.g-recaptcha {
    display: inline-block;
}

.form-hideable {
    display: none;
}

.form-hideable.show {
    display: inherit;
}