<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<!--Meta Stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="DreamExposure Studios - Envision a new reality">
		<meta property="og:title" content="DreamExposure Studios"/>
		<meta property="og:url" content="https://www.dreamexposure.org"/>
		<meta property="og:description" content="DreamExposure Studios - Envision a new reality"/>
		<meta property="og:image" content="/img/logo/Dream_Exposure_Logo_White.jpg">


		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/img/favicons/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicons/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/img/favicons/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/img/favicons/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/img/favicons/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16.png">
		<link rel="apple-touch-icon" href="/img/favicons/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/img/favicons/favicon-144.png">
		<meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

		<title>About && DreamExposure</title>

		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		      rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/business-casual.css" rel="stylesheet">
		<link href="/css/team.css" rel="stylesheet">

		<!--Externally Hosted-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>

	<body>

		<h1 class="site-heading text-center text-white d-none d-lg-block">
			<span class="site-heading-upper text-primary mb-3">Envision a new Reality</span>
			<span class="site-heading-lower">DreamExposure Studios</span>
		</h1>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
			<div class="container">
				<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/about">About</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/products">Products</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/store">Store</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" target="_blank"
							   href="https://wikijs.dreamexposure.org">Wiki</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" target="_blank"
							   href="https://jenkins.dreamexposure.org">Jenkins</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" target="_blank"
							   href="https://patreon.com/NovaFox">Patreon</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section class="page-section about-heading">
			<div class="container">
				<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
				<div class="about-heading-content">
					<div class="row">
						<div class="col-xl-9 col-lg-10 mx-auto">
							<div class="bg-faded rounded p-5">
								<h2 class="section-heading mb-4">
									<span class="section-heading-upper">Great Code, Great Developers</span>
									<span class="section-heading-lower">About Our Studio</span>
								</h2>
								<p>
									DreamExposure Studios was originally created by a group of friends who wanted to
									continue doing what they loved; programming and creating a community. Since then we
									have been dedicated to providing high quality software and products with ease of use
									and quality of experience in mind.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="page-section cta">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 mx-auto">
						<div class="cta-inner text-center rounded">
							<h2 class="section-heading mb-4">
								<span class="section-heading-lower">Meet The Team</span>
							</h2>
							<div class="row">
								<div class="team-column">
									<div class="staff-card">
										<img src="/img/team/Nova.jpg" alt="Nova" style="width:100%">
										<div class="staff-container">
											<h2 class="section-heading mb-3">
												<span class="section-heading-upper">Founder</span>
												<span class="section-heading-lower-small">Nova Maday</span>
											</h2>
											<p>Photographer and Programmer</p>
											<p>Discord NovaFox161#6969</p>
											<a class="btn btn-primary btn-lg btn-margin-small"
											   href="/contact?staff=nova"
											   target="_blank">Contact</a>
										</div>
									</div>
								</div>

								<div class="team-column">
									<div class="staff-card">
										<img src="/img/team/Jules.jpg" alt="Jules" style="width:100%">
										<div class="staff-container">
											<h2 class="section-heading mb-3">
												<span class="section-heading-upper">Community Manager</span>
												<span class="section-heading-lower-small">Jules</span>
											</h2>
											<p><a href="https://github.com/LordSmurf">GitHub</a></p>
											<p>Discord Jules#1644</p>
											<a class="btn btn-primary btn-lg btn-margin-small"
											   href="/contact?staff=jules"
											   target="_blank">Contact</a>
										</div>
									</div>
								</div>

								<div class="team-column">
									<div class="staff-card">
										<img src="/img/team/Jacob.jpg" alt="Jacob" style="width:100%">
										<div class="staff-container">
											<h2 class="section-heading mb-3">
												<span class="section-heading-upper">Assistant Developer</span>
												<span class="section-heading-lower-small">Jacob</span>
											</h2>
											<p>So I can put anything here?</p>
											<p>Discord Hidden</p>
											<a class="btn btn-primary btn-lg btn-margin-small"
											   href="/contact?staff=jacob"
											   target="_blank">Contact</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="team-column">
									<div class="staff-card">
										<img src="/img/team/Kram.jpg" alt="Kram" style="width:100%">
										<div class="staff-container">
											<h2 class="section-heading mb-3">
												<span class="section-heading-upper">Contract Coordinator</span>
												<span class="section-heading-lower-small">Kram</span>
											</h2>
											<p>Professional Wizard</p>
											<p><a href="https://twitter.com/KramCraft_" target="_blank">Twitter</a></p>
											<a class="btn btn-primary btn-lg btn-margin-small"
											   href="/contact?staff=kram"
											   target="_blank">Contact</a>
										</div>
									</div>
								</div>

								<div class="team-column">
									<div class="staff-card">
										<img src="/img/team/flrp.jpg" alt="flrp" style="width:100%">
										<div class="staff-container">
											<h2 class="section-heading mb-3">
												<span class="section-heading-upper">MC Server Admin</span>
												<span class="section-heading-lower-small">flrp</span>
											</h2>
											<p>The one and only flrp</p>
											<p><a href="https://github.com/flrping">GitHub</a></p>
											<a class="btn btn-primary btn-lg btn-margin-small"
											   href="/contact?staff=flrp"
											   target="_blank">Contact</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer text-faded text-center py-5">
			<div class="container">
				<p class="m-0 small">
					<span th:text="'© DreamExposure Studios ' + ${year} + '. All rights reserved.'"></span>
					<span> | </span>
					<a href="/policy/privacy">Privacy Policy</a>
					<span> | </span>
					<a href="/policy/tos">Terms of Service</a>
					<span> | </span>
					<a href="/policy/refund">Refund Policy</a>
				</p>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	</body>
</html>