<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DreamExposure - Envision a new reality">
		<meta property="og:title" content="DreamExposure"/>
		<meta property="og:url" content="https://www.dreamexposure.org"/>
		<meta property="og:description" content="DreamExposure - Envision a new reality"/>
		<meta property="og:image" content="/assets/images/logo/Dream_Exposure_Logo_White.jpg">

		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/images/favicons/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/assets/images/favicons/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/assets/images/favicons/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/assets/images/favicons/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16.png">
		<link rel="apple-touch-icon" href="/assets/images/favicons/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/assets/images/favicons/favicon-144.png">
		<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

		<title>Privacy && DreamExposure</title>

		<!--Locally Hosted Files-->
		<link rel="stylesheet" href="/styles/global.css">
	</head>

	<body>
		<div class="top-nav">
			<a href="/" class="title"><h1>DreamExposure</h1></a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
			<div class="dropdown">
				<button class="dropbtn">Plugins</button>
				<div class="dropdown-content">
					<a href="/plugins/perworldchatplus">PerWorldChatPlus</a>
					<a href="/plugins/insane-warps">InsaneWarps</a>
					<a href="/plugins/novalib">NovaLib</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Discord Bots</button>
				<div class="dropdown-content">
					<a href="https://www.discalbot.com" target="_blank">DisCal</a>
					<a href="https://ticketbird.novamaday.com" target="_blank">TicketBird</a>
				</div>
			</div>
			<a href="https://wiki.novamaday.com">Wiki</a>
			<a href="https://jenkins.novamaday.com" target="_blank">Jenkins</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<div class="dropdown" id="account-drop">
				<button class="dropbtn">Account</button>
				<div class="dropdown-content">
					<a th:if="${loggedIn}" href="/account">Account</a>
					<a th:if="${loggedIn}" href="/account/logout">Log out</a>
					<a th:unless="${loggedIn}" href="/account/register">Register</a>
					<a th:unless="${loggedIn}" href="/account/login">Log In</a>
				</div>
			</div>
		</div>

		<div id="content">
			<h1>Privacy Policy</h1>
			<p>
				Personal information collected includes full name, email address, age, credit and/or debit card
				information, billing address, and/or IP addresses. This information is only collected when needed, such
				as when registering for an account or purchasing a product via the online web-store provided by
				DreamExposure.

				<br>
				<br>

				Personal information is never shared or sold to any third parties or services. Personal information is
				stored on internal services and encrypted. Any credit/debit card information is not stored or accessible
				by DreamExposure. Billing information is handled directly by the service DreamExposure may utilize for
				handling billing (SquareUp, Stripe, PayPal, Patreon).

				<br>
				<br>

				IP Addresses are only collected for debugging purposes and deleted every rolling 24 hour period. In
				order to debug various API endpoints and pages, IP addresses may be logged. This information is vital to
				assessing issues within DreamExposure's websites and services.

				<br>
				<br>

				Passwords for DreamExposure websites are stored in a database and are hashed and salted. Passwords are
				never stored in plaintext.

				<br>
				<br>

				Last Updated: July 26, 2018.
			</p>
		</div>
	</body>

	<footer id="footer">
		<p><span th:text="'© DreamExposure ' + ${year} + '. All rights reserved.'"></span><span> | </span><a
				href="/policy/privacy">Privacy Policy</a><span> | </span><span><a
				href="/policy/tos">Terms of Service</a></span></p>
	</footer>
</html>