<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<!--Meta Stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="DreamExposure Studios - Envision a new reality">
		<meta property="og:title" content="DreamExposure Studios"/>
		<meta property="og:url" content="https://www.dreamexposure.org"/>
		<meta property="og:description" content="DreamExposure Studios - Envision a new reality"/>
		<meta property="og:image" content="/img/logo/Dream_Exposure_Logo_White.jpg">


		<!-- ****** faviconit.com favicons ****** -->
		<link rel="shortcut icon" href="/img/favicons/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicons/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/img/favicons/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/img/favicons/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/img/favicons/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16.png">
		<link rel="apple-touch-icon" href="/img/favicons/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/favicon-180.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/img/favicons/favicon-144.png">
		<meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
		<!-- ****** faviconit.com favicons ****** -->

		<title>Refund Policy && DreamExposure</title>

		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		      rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/business-casual.css" rel="stylesheet">

		<!--Externally Hosted-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>

	<body>

		<h1 class="site-heading text-center text-white d-none d-lg-block">
			<span class="site-heading-upper text-primary mb-3">Envision a new Reality</span>
			<span class="site-heading-lower">DreamExposure Studios</span>
		</h1>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
			<div class="container">
				<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/about">About</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/contact">Contact</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/products">Products</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" href="/store">Store</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" target="_blank"
							   href="https://discord.gg/2TFqyuy">Discord</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" target="_blank"
							   href="https://jenkins.dreamexposure.org">Jenkins</a>
						</li>
						<li class="nav-item px-lg-4">
							<a class="nav-link text-uppercase text-expanded" target="_blank"
							   href="https://patreon.com/NovaFox">Patreon</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section class="page-section about-heading">
			<div class="container">
				<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
				<div class="about-heading-content">
					<div class="row">
						<div class="col-xl-9 col-lg-10 mx-auto">
							<div class="bg-faded rounded p-5">
								<h2 class="section-heading mb-4">
									<span class="section-heading-lower">Refund Policy</span>
								</h2>
								<p>
									RETURNS
									<br><br>
									----
									<br><br>
									Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately
									we can’t offer you a refund or exchange.
									<br><br>
									To be eligible for a return, your item must be unused and in the same condition that
									you received it. It must also be in the original packaging.
									Several types of goods are exempt from being returned. Perishable goods such as
									food, flowers, newspapers or magazines cannot be returned. We also do not accept
									products that are intimate or sanitary goods, hazardous materials, or flammable
									liquids or gases.
									<br><br>
									Additional non-returnable items:
									<br>
									* Gift cards
									<br>
									* Downloadable software products
									<br>
									* Some health and personal care items
									<br><br>
									To complete your return, we require a receipt or proof of purchase.
									<br>
									Please do not send your purchase back to the manufacturer.
									<br><br>
									There are certain situations where only partial refunds are granted: (if applicable)
									<br>
									* Book with obvious signs of use
									<br>
									* CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has
									been opened.
									<br>
									* Any item not in its original condition, is damaged or missing parts for reasons
									not due to our error.
									<br>
									* Any item that is returned more than 30 days after delivery
								</p>
								<p>
									Refunds (if applicable)
									<br><br>
									Once your return is received and inspected, we will send you an email to notify you
									that we have received your returned item. We will also notify you of the approval or
									rejection of your refund.
									If you are approved, then your refund will be processed, and a credit will
									automatically be applied to your credit card or original method of payment, within a
									certain amount of days.
								<p>
									Late or missing refunds (if applicable)
									<br><br>
									If you haven’t received a refund yet, first check your bank account again.
									Then contact your credit card company, it may take some time before your refund is
									officially posted.
									Next contact your bank. There is often some processing time before a refund is
									posted.
									<br>
									If you’ve done all of this and you still have not received your refund yet, please
									contact us at contact@dreamexposure.org.
								</p>
								<p>
									Sale items (if applicable)
									<br><br>
									Only regular priced items may be refunded, unfortunately sale items cannot be
									refunded.
								</p>
								<p>
									Exchanges (if applicable)
									<br><br>
									We only replace items if they are defective or damaged. If you need to exchange it
									for the same item, send us an email at contact@dreamexposure.org and send your item
									to: PO Box address will be posted before products go for sale.
								</p>
								<p>
									Gifts
									<br><br>
									If the item was marked as a gift when purchased and shipped directly to you, you’ll
									receive a gift credit for the value of your return. Once the returned item is
									received, a gift certificate will be mailed to you.
									<br><br>
									If the item wasn’t marked as a gift when purchased, or the gift giver had the order
									shipped to themselves to give to you later, we will send a refund to the gift giver
									and he will find out about your return.
								</p>
								<p>
									Shipping
									<br><br>
									To return your product, you should mail your product to: PO Box address will be
									posted before products go for sale.
									<br><br>
									You will be responsible for paying for your own shipping costs for returning your
									item. Shipping costs are non-refundable. If you receive a refund, the cost of return
									shipping will be deducted from your refund.
									<br><br>
									Depending on where you live, the time it may take for your exchanged product to
									reach you, may vary.
									<br><br>
									If you are shipping an item over $75, you should consider using a trackable shipping
									service or purchasing shipping insurance. We don’t guarantee that we will receive
									your returned item.
								</p>
								<p><em>Last Updated: October 4, 2018</em></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer text-faded text-center py-5">
			<div class="container">
				<p class="m-0 small">
					<span th:text="'© DreamExposure Studios ' + ${year} + '. All rights reserved.'"></span>
					<span> | </span>
					<a href="/policy/privacy">Privacy Policy</a>
					<span> | </span>
					<a href="/policy/tos">Terms of Service</a>
					<span> | </span>
					<a href="/policy/refund">Refund Policy</a>
				</p>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	</body>
</html>