<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--Meta stuffs-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="DreamExposure - Envision a new reality">
		<meta property="og:title" content="DreamExposure"/>
		<meta property="og:url" content="https://www.dreamexposure.org"/>
		<meta property="og:description" content="DreamExposure - Envision a new reality"/>
		<!--meta property="og:image" content="I WILL PUT THE LOGO IN WHEN I MAKE IT SMALL"/-->
		<title>Contact && DreamExposure</title>

		<!--Locally Hosted Files-->
		<link rel="stylesheet" href="/styles/global.css">
	</head>

	<body>
		<div class="top-nav">
			<a href="/" class="title"><h1>DreamExposure</h1></a>
			<a href="/about">About</a>
			<a class="active" href="/contact">Contact</a>
			<div class="dropdown">
				<button class="dropbtn">Plugins</button>
				<div class="dropdown-content">
					<a href="/plugins/perworldchatplus">PerWorldChatPlus</a>
					<a href="/plugins/insane-warps">InsaneWarps</a>
					<a href="/plugins/novalib">NovaLib</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Discord Bots</button>
				<div class="dropdown-content">
					<a href="https://www.discalbot.com" target="_blank">DisCal</a>
					<a href="https://ticketbird.novamaday.com" target="_blank">TicketBird</a>
				</div>
			</div>
			<a href="https://wiki.novamaday.com" target="_blank">Wiki</a>
			<a href="https://jenkins.novamaday.com" target="_blank">Jenkins</a>
			<a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>

			<div class="dropdown" id="account-drop">
				<button class="dropbtn">Account</button>
				<div class="dropdown-content">
					<a th:if="${loggedIn}" href="/account">Account</a>
					<a th:if="${loggedIn}" href="/account/logout">Log out</a>
					<a th:unless="${loggedIn}" href="/account/register">Register</a>
					<a th:unless="${loggedIn}" href="/account/login">Log In</a>
				</div>
			</div>
		</div>

		<div id="content">
			<h1>Contact Us</h1>
			<div id="contact-form">
				<form id="contact" action="javascript:onSubmit()">
					<label>Subject
						<br>
						<input type="text" id="subject" required>
					</label>
					<br>
					<br>
					<label>Message
						<br>
						<input type="text" id="message" required>
					</label>
					<br>
					<br>
					<label>Name
						<br>
						<input type="text" id="name" required>
					</label>
					<br>
					<br>
					<label>Your Email
						<br>
						<input type="email" id="email" required>
					</label>
					<br>
					<br>
					<div class="g-recaptcha" data-sitekey="6LcU8mUUAAAAAGJ7xXlw7hJ9daZY9_jwzoebRF3q"></div>
					<br>
					<br>
					<input class="submit" type="submit" value="Submit">
				</form>
			</div>
		</div>
	</body>

	<footer id="footer">
		<p><span th:text="'© DreamExposure ' + ${year} + '. All rights reserved.'"></span><span> | </span><a
				href="/policy/privacy">Privacy Policy</a><span> | </span><span><a
				href="/policy/tos">Terms of Service</a></span></p>
	</footer>
</html>